In [2]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_csv('../stat_anlysis/Statistical_analysis/data/ch2_scores_em.csv ', 
                 index_col = 'student number')
df.head() # 처음 행 5개를 표시

                english  mathematics
student number
1                    42           65
2                    69           80
3                    56           63
4                    41           63
5                    57           76

In [11]:
scores = np.array(df['english'])[:10] # english열의 값 10개를 scores array에 넣음

In [12]:
scores

array([42, 69, 56, 41, 57, 48, 65, 49, 65, 58])