In [2]:
import pandas as pd
import numpy as np

In [20]:
df = pd.read_csv('../stat_anlysis/data/ch2_scores_em.csv ', 
                 index_col = 'student number')
df.head() # 처음 행 5개를 표시

                english  mathematics
student number
1                    42           65
2                    69           80
3                    56           63
4                    41           63
5                    57           76

In [11]:
scores = np.array(df['english'])[:10] # english열의 값 0 ~ 9까지를 scores array에 넣음

In [12]:
scores

array([42, 69, 56, 41, 57, 48, 65, 49, 65, 58])

In [26]:
scores_df = pd.DataFrame(scores, index = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'], columns = ['grade'])
# grade라는 컬럼과 어퍼 알파벳으로 이루워진 테이블을 만들고 그 내부 값으로 scores 배열을 넣는다.
scores_df

   grade
A     42
B     69
C     56
D     41
E     57
F     48
G     65
H     49
I     65
J     58

In [27]:
sum(scores)/len(scores) # 합계, 길이 기능 제공

np.float64(55.0)

In [29]:
np.mean(scores) # 넘파이 자체적으로 평균 제공

np.float64(55.0)

In [32]:
sorted_scores = np.sort(scores) 
# 자체적으로 소팅 제공
sorted_scores

array([41, 42, 48, 49, 56, 57, 58, 65, 65, 69])